{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}
{% block content %}
{% for film in object_list %}
    {% if film.show %}
      <div class="film-item">
        <div class="vote-area">
          <form  action="{% url 'vote' film.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="button">▲</button>
          </form>
          <p>{{ film.vote }}</p>
        </div>
        <div class="film-area">
          <h2><a href="{% url 'film_detail' film.pk %}">{{ film.name }}</a></h2>
          <span class="shy">{{ film.author }}</span>
          <span class="shy">{{ film.added }}</span>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">上页</a>
              {% endif %}
              <span class="page-current">
                  {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">下页</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %}
{% endblock %}
